name: CI Pipeline

on:
  push:
    branches:
      - main
      - spring-boot
  pull_request:
    branches:
      - main
      - spring-boot

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Publish logging-starter to Maven Local
        run: ./gradlew :logging-starter:publishToMavenLocal

      - name: Publish exception-handling-starter to Maven Local
        run: ./gradlew :exception-handling-starter:publishToMavenLocal

      - name: Build with Gradle
        run: ./gradlew build --refresh-dependencies --info

      - name: Install Docker Compose
        run: |
          sudo curl -L "https://github.com/docker/compose/releases/download/$(curl -s https://api.github.com/repos/docker/compose/releases/latest | grep -Po '"tag_name": "\K.*?(?=")')/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose

      - name: Start services using Docker Compose
        run: docker-compose -f docker-compose.yml up -d

      - name: Run tests
        env:
          SPRING_PROFILES_ACTIVE: prod  # Устанавливаем профиль prod для тестов
        run: ./gradlew test --info

      - name: Clean up (optional)
        if: success()
        run: ./gradlew clean
